#compellingreview {
  max-width: 1300px;
  margin: auto;
  margin-top: 80px;
}

#compellingreview-text {
  font-size: var(--fs-1);
  font-weight: var(--fw-bold);
}

@media screen and (min-width: 1350px) {
  #compellingreview-text {
    font-size: var(--fs-1);
    font-weight: var(--fw-bold);
    background-image: url("C:/Users/Marmik/Desktop/Work/Infokidz Internship/Infokidz Academy Website/infokidz-academy-website/src/images/text-background-secondary-light.png");
    background-repeat: no-repeat;
    background-size: 53% 310%;
    background-position: right 24% top 30%;
  }
}
