#compellingreview {
  max-width: 1300px;
  margin: auto;
  margin-top: 40px;
}

#compellingreview-text {
  font-size: var(--fs-1);
  font-weight: var(--fw-bold);
  padding: 10px; /*To prevent text color background from change as the screensize changes*/
  background-image: url("C:/Users/Marmik/Desktop/Work/Infokidz Internship/Infokidz Academy Website/infokidz-academy-website/src/images/text-background-secondary-light.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right -41% bottom -38px;
}
