#description {
  background-color: var(--clr-primary-light-background);
  max-width: 1300px;
  margin: auto;
  margin-top: 40px;
  border-radius: var(--br-background);
  height: 350px;
}

#description-title {
  font-size: var(--fs-2);
  font-weight: var(--fw-reg);
  margin-left: 8%;
  padding-top: 3%;
}

#description-subtitles {
  margin-left: 17%;
  padding-left: 0.5%;
  padding-right: 1%;
  background-image: url("C:/Users/Marmik/Desktop/Work/Infokidz Internship/Infokidz Academy Website Project/infokidz-academy-website/src/images/text-background-three-colors.png");
  background-repeat: no-repeat;
  background-position: left -10% top 23px;
  background-size: 97% 78%;
  position: absolute;
}

.description-subtitle {
  font-size: var(--fs-2);
  font-weight: var(--fw-bold);
  padding-bottom: 4px;
}

#description-description {
  font-size: var(--fs-3);
  font-weight: var(--fw-light);
  max-width: 650px;
  margin: 47%;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}

.learn-more {
  margin-left: 84.5%;
  margin-bottom: auto;
}

/*Media Queries*/
@media screen and (max-width: 1200px) {
  #description-description {
    margin-top: 4%;
  }
}

@media screen and (max-width: 1100px) {
  #description-description {
    margin-top: 5%;
  }
}

@media screen and (max-width: 950px) {
  #description-title {
    margin-left: 2%;
  }

  #description-subtitles {
    background-size: 100% 78%;
    margin-top: -3%;
    margin-left: 11%;
  }

  #description-description {
    margin-top: 0%;
  }

  .learn-more {
    margin-left: 80%;
  }
}

@media screen and (max-width: 760px) {
  #description {
    height: 500px;
  }

  #description-title {
    margin-left: 12%;
  }

  #description-subtitles {
    margin-left: 29%;
  }

  #description-description {
    margin-top: 35%;
    margin-left: 12%;
  }

  .learn-more {
    margin-left: 12%;
  }
}

@media screen and (max-width: 680px) {
  #description {
    height: 550px;
  }

  #description-description {
    margin-top: 40%;
  }
}

@media screen and (max-width: 570px) {
  #description-description {
    margin-top: 45%;
  }
}

@media screen and (max-width: 525px) {
  #description-title,
  .learn-more {
    margin-left: 6%;
  }

  #description-subtitles {
    margin-left: 30%;
  }

  #description-description {
    margin-top: 50%;
    margin-left: 6%;
  }
}

@media screen and (max-width: 470px) {
  #description-subtitles {
    margin-left: 34%;
  }

  #description-description {
    margin-top: 55%;
  }
}

@media screen and (max-width: 430px) {
  #description {
    height: 580px;
  }

  #description-subtitles {
    margin-left: 36%;
  }

  #description-description {
    margin-top: 65%;
  }
}

@media screen and (max-width: 390px) {
  #description {
    height: 600px;
  }

  #description-subtitles {
    margin-left: 38%;
  }

  #description-description {
    margin-top: 75%;
  }
}

@media screen and (max-width: 350px) {
  #description {
    height: 600px;
  }

  #description-subtitles {
    margin-left: 6%;
  }

  #description-description {
    margin-top: 75%;
  }
}

@media screen and (max-width: 325px) {
  #description-description {
    margin-top: 83%;
  }
}

@media screen and (max-width: 290px) {
  #description-description {
    margin-top: 94%;
  }
}
