#privacypolicy {
  max-width: 1300px;
  margin: auto;
  margin-top: 40px;
}

#privacypolicy-title {
  font-size: var(--fs-2);
  font-weight: var(--fw-bold);
  margin-bottom: 40px;
}

#privacypolicy-text {
  background-color: var(--clr-primary-light-background);
  border-radius: var(--br-background);
  padding: 30px 10px 30px 20px;
}

.privacypolicy-heading {
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);
  text-decoration: underline;
}

.privacypolicy-paragraph {
  font-size: var(--fs-3);
  font-weight: var(--fw-light);
}

/*Media Queries*/
@media screen and (min-width: 525px) {
  #privacypolicy-text {
    padding-left: 37px;
  }
}
