<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pdf Uploading</title>
  </head>

  <body>
    <h1>To Upload pdf on mongoDB</h1>
    <hr />
    <div>
      <form action="/" method="POST" enctype="multipart/form-data">
        <div>
          <label for="name">Pdf Title</label>
          <input
            type="text"
            id="name"
            placeholder="Name"
            value=""
            name="name"
            required
          />
        </div>
        <div>
          <label for="subject">Pdf subject</label>
          <input
            type="text"
            id="subject"
            placeholder="subject"
            value=""
            name="subject"
            required
          />
        </div>
        <div>
          <label for="topic">Pdf topic</label>
          <input
            type="text"
            id="topic"
            placeholder="topic"
            value=""
            name="topic"
            required
          />
        </div>
        <div>
          <label for="grade">Pdf grade</label>
          <input
            type="text"
            id="grade"
            placeholder="grade"
            value=""
            name="grade"
            required
          />
        </div>
        <div>
          <label for="pdf">Upload pdf</label>
          <input type="file" id="pdf" name="pdf" value="" required />
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>

    <hr />

    <h1>Uploaded pdfs</h1>
    <div>
      <% items.forEach(function(pdf) { %>
      <div>
        <div>
          <div>
            <a href=""><h5><%= pdf.name %></h5></a>

            <p><%= pdf.subject %></p>
            <p><%= pdf.topic %></p>
            <p><%= pdf.grade %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
