#registrationform {
  margin: auto;
  margin-top: 40px;
  max-width: 1300px;
}

#registrationform-title {
  font-size: var(--fs-2);
  font-weight: var(--fw-bold);
}

#registrationform-title2 {
  font-size: var(--fs-3);
  font-weight: var(--fw-reg);
  margin-bottom: 25px;
}

#registrationform-submit {
  background-color: var(--clr-secondary-light);
  color: var(--clr-white);
  border-radius: var(--br-button);
  font-size: var(--fs-3);
  font-weight: var(--fw-reg);
  margin-top: 20px;
}

#registrationform-submit:hover {
  background-color: var(--clr-hover);
}
