#button {
  color: var(--clr-white);
  padding: 6px;
  border-radius: var(--br-button);
  background-color: var(--clr-secondary-light);
  font-size: var(--fs-3);
  font-weight: var(--fw-reg);
  top: 50px;
  text-decoration: none;
}

#button:hover {
  text-decoration: none;
  background-color: var(--clr-hover);
}
