#tutoringapproach {
  max-width: 1300px;
  margin: auto;
  margin-top: 40px;
}

#tutoringapproach-wrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.tutoringapproach-step {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: var(--clr-primary-light-background);
  border-radius: var(--br-background);
  margin-bottom: 5%;
}

#tutoringapproach-title {
  font-size: var(--fs-2);
  font-weight: var(--fw-bold);
}

.tutoringapproach-step-title {
  font-size: var(--fs-2);
  font-weight: var(--fw-reg);
  margin-left: 6%;
  margin-right: 2%;
}

.tutoringapproach-step-description {
  font-size: var(--fs-3);
  font-weight: var(--fw-light);
  margin-left: 6%;
  margin-right: 2%;
}

#tutoringapproach-tutoring {
  width: 98vw;
}
