#footer {
  background-color: var(--clr-black);
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
  padding: 20px 10px 20px 10px;
}

#footer-container {
  max-width: 1000px;
  margin: auto;
}

#footer-logo {
  max-width: 200px;
  margin-bottom: 20px;
}

#phone-number {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

a,
FontAwesomeIcon,
#copyright {
  color: var(--clr-white);
  font-weight: var(--fw-light);
}

FontAwesomeIcon,
#phone-number,
#social-medias {
  font-size: var(--fs-3);
}

#policies,
#privacy,
#copyright {
  font-size: var(--fs-4);
}

#phone-div,
#social-medias,
#terms-div,
#privacy-div {
  margin-bottom: 20px;
}

#fb {
  margin-right: 15px;
}

/*Media Queries*/

@media screen and (min-width: 525px) {
  #footer-logo {
    min-width: 250px;
    min-height: 100px;
  }

  #footer-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 40px;
  }

  #social-medias {
    grid-column: 1;
  }

  #privacy-div {
    grid-column: 2;
    grid-row: 1;
    margin-top: 5px;
  }

  #terms-div {
    margin-top: 5px;
  }

  #phone-number {
    margin-top: -10px;
  }
}

@media screen and (min-width: 800px) {
  #footer-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    grid-column-gap: 40px;
  }
  #phone-div {
    grid-column: 1;
  }

  #social-medias {
    grid-column: 2;
  }

  #privacy-div {
    grid-column: 3;
  }

  #terms-div {
    grid-column: 4;
  }
}

@media screen and (min-width: 1100px) {
  #footer {
    text-align: justify;
  }

  #footer-logo {
    margin-left: 0%;
  }

  #footer-wrapper {
    margin-left: 35%;
    margin-top: -80px;
  }

  #copyright {
    margin-left: 67%;
  }
}
